# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

# Development
.env
.env.*
!.env.example
.DS_Store

# Build output
dist/
build/
.next/
out/
.nuxt/
.svelte-kit/
**/.vitepress/dist

# IDE/Tools
.vscode/
.idea/
*.swp
*.log
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
